// Specific CSS for your home-page

body {

  // font-family: 'Baloo Chettan 2', cursive;

  p, h2, h1, li {
    font-family: 'Baloo Chettan 2', cursive;
  // font-weight: bold;
  }



}

// .entete {
//   // text-align: center;
//   // background: black;

//   #logo {
//     width: 100%;
//     height: 600px;
//     object-fit: cover;
//     margin-bottom: 8px;

//   }
// }

// .contact {

//   justify-content: flex-end;

// }

.vtt-card {


  overflow: hidden;
  background: white; //rgba(250,250,250,0.1);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // padding: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  img {
    // height: 100%;
    width: 40%;
    object-fit: cover;
    transition: all .5s ease;
    &:hover {
      // text-shadow: 1px 1px 25px rgba(255,255,255,.6);
      transform:scale(1.02);
    }
  }

  .info {

    padding: 32px;

    text-align: justify;

    h2 {
      font-size: 32px;
      text-shadow: 1px 1px 2px rgba(0,0,0,.2);
      padding-bottom: 12px;
      border-bottom: 1px solid rgba(0,0,0,0.5);
      border-color: rgba(0,0,0,0.2);
      margin-bottom: 12px;

    }

    p, li {

      font-size: 20px;
      opacity: .8;
      margin-bottom: 6px;
    }

    // width: 70%;
  }



  }
