<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 -->

<!-- navbar -->

<%= render 'shared/navbar' %>



<!-- Banner -->


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)),
 url(<%= image_path "vtt2.jpg", id:"logo" %>)">



  <div class="container">


    <h1>Réparation VTT & Cycles à Poligny </h1>
    <h2>Mon atelier est basé à Poligny dans le Jura &nbsp; <i class="fas fa-cheese comte"></i></h2>
    <br>
    <h2> Je répare tous type de vélos : VTT, VTC, CycloRolls, RTT, GPT et autres</p>

<br>
<br>
<p class="op"><u>Contactez-moi pour tout renseignement :</u></p>

    <p><i class="fas fa-phone"> &nbsp; </i>Téléphone : 06 25 14 65 33</p>
    <p><i class="fas fa-at"> &nbsp; </i>E-mail : <%= mail_to "alexis@gmail.com" %></p>

  </div>
</div>






<!-- <br> -->



<div class="container">


<h1>Passioné de VTT</h1>
<!--   <div class="entete">
 <%= image_tag "vtt2.jpg", id:"logo" %>
</div>
 -->

</div>
