.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: white;
  height: 70px;
  box-shadow: 0 1px 20px rgba(0,0,0,0.2);

  a {
    text-decoration: none;
  }

  #logo-left {
      font-size: 48px;
      color: black;
      margin-bottom: 0;
      transition: all .3s ease-in;

      &:hover {
        color: #c24914;
      }
  }

  .nav-item {
    // align-items: center;
    // margin-bottom: 0px;
// margin-top: 24px;
    // align-items: flex-start;
  }

  .nav-link {
    // align-items: center;
    // padding: 0px 8px;
    // margin-top: 8px;
  }

  .navbar-brand {
      color:black;
      font-family: 'Baloo Chettan 2', cursive;
      // font-family: 'IBM Plex Sans', sans-serif;
      font-size: 24px;
      text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
      font-weight: bold;
      opacity: 1;

      i {
        color: #682c0e;
      }
    }

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;

  &:hover {

  }
}
